<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <application
        android:name="bean.MyAppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="uiview.UIActivity_XiangQing"
            android:theme="@style/AppTheme2"></activity>
        <activity android:name="uiview.UIActivity" />
        <activity android:name="baidumap.MyMap2" />
        <activity android:name="baidumap.MyMap" />
        <activity android:name="httpok.Okhttp_baidu" />
        <activity android:name="broadcast_qz.XiaXian" />
        <activity android:name="broadcast_qz.LoginActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QdLYLDPBClPuNvxjkEpp7lSo47Lxpqbn" />

        <receiver
            android:name="broadcast_acceptor.Acceptor_three"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="50">
                <action android:name="text_two" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <receiver
            android:name="broadcast_acceptor.Acceptor_two"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="text_two" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="broadcast_acceptor.Acceptor_one"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="text_one" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="broadcasthome.Broadcast_2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="broadcasthome.Broadcast_1" />
        <activity android:name="fragmenthome.Fragment_Home" />
        <activity android:name=".ActivityLife2" />
        <activity android:name=".ActivityLife" />
        <activity android:name=".Intent_text" />
        <activity android:name=".Intent_text2" />
        <activity android:name="layoutview.Dialogue_Text" />
        <activity android:name="layoutview.Progtrss_Dialog" />
        <activity android:name="layoutview.Recycler_View" />
        <activity android:name="layoutview.UserView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>